{% extends 'base.html' %}

{% block title %}Dodawanie wyniku{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="header">
  <a href="{% url 'Homepage' %}"><i class="fas fa-arrow-left" title="Powrót na poprzednią stronę"></i></a>
  <div class="title">Witaj {{user.username}}!</div>
  <a href="{% url 'logout' %}"><i class="fas fa-right-from-bracket" title="Wyloguj"></i></a>
</div>

<div class="container">

  <div class="wrapper">
    <div class="title">Wpisz swój wynik:</div>
    <form action="" method="post" class="form">
      {% csrf_token %}
      <div class="row">
        <i class="fas fa-hashtag"></i>
        <input type="number" name="number_of_tries" required="" id="id_number_of_tries">
      </div>
      <div class="row button">
        <input type="submit" value="Dodaj wynik">
      </div>
    </form>

  </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}