
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;700;800&display=swap');
.container {
    display: grid;
    height: 90%;
    place-items: center;
}

body {
    background-color: #74b9ff;
    font-family: "Kanit", sans-serif;
    margin: 0;
}

.header{
    margin: auto;
    width: 380px;
    display: flex;
    justify-content: space-between;
    background-color: #0984e3;
    border-radius: 0 0 10px 10px;
}

.header i{
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 10px;
    font-size: 20px;
    color: #0984e3;
}

.header .title {
    font-size: 24px;
    line-height: 50px;

}

.wrapper{
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
}

.title {
    line-height: 80px;
    background-color: #0984e3;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
}

.form{
    padding: 30px 20px 10px 20px;
}

.form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(37, 26, 188, 0.25);
  }

form input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 95%;
    color: #fff;
    font-size: 18px;
    background: #0984e3;
    border: 1px solid #0984e3;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0984e3;
    border: 1px solid #74b9ff;
    cursor: pointer;
    text-align: center;
  }
.button input:hover{
    background: #0984e3;
  }

.table{
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.table table{
    border-collapse: collapse;
}

.table td {
    border: 2px solid #74b9ff;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    min-width: 50px;
}

.table tr:hover{
    background-color: rgb(116, 185, 255, 0.3);
}

.winner-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner{
    color: #0984e3;
    font-size: 20px;
    font-weight: 700;
}
.hidden {
    visibility: hidden;
}

.month_table table {
	display: table;    
}
.month table tr {
	display: table-cell;
}
.month table tr td {
	display: block;
}